doctype html
html
    head
        meta(http-equiv="Content-Type", content="text/html; charset=utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=1")
        title Isomorphic sandbox
        link(rel="stylesheet", href="/styles.css")
    body
        #app!= html
        #app2
        script!= state
        script(src='/scripts.js')

